.left-img{
    width: 100% !important;
    margin: 200px 0px 0px 0px;

}
.form-sign{
    margin-bottom: 100px;
}
.form-sign img{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
    height:min-content !important; 
    width: 22%;
}
.img-box{
    height: 230px !important;
    margin-top: 100px ;
}
.head-form{
    text-align: center;

    
   
}
.signup{
    margin-left: 0px;
}

.signup .page{
    justify-content: space-between !important;
}




.form-sign h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    color: #ff6600;
    align-items: center;
    justify-content: center;
}

.ico{
    color: #ff6600;
    margin-left: 10px;

    
}

.form-signup h5{
    font-size: 1rem;
    
}



.input-signup{
    background-color: #fef6f6;
    height:50px;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 20px;
    margin: 10px 0;
}

.input-signup input{
background: none;
width: 100%;
height: 50px;
border: none;
outline: none;
margin-left: 10px;
}

.a-btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.a-login{
    color: #ff6600;
    font-size: 1rem;
    
}

.a-login:hover{
    color: #343a40;
}

.signup-btn{
    width: 100%;
    height: 40px;
    border-radius:25px ;
    color: #ffffff;
    background: #343a40;
    border: none;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
}

.signup-btn:hover{
   background-color: #ff6600;
}